<h3>Our Specialties</h3>
<div class="container">
  <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 g-2">
    <div class="card">
      <img src="./assets/imgs/pizza-2.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Pizza Inferno</h5>
        <p class="card-text">Some quick example text to build on the card</p>
        <hr />
        <p>€10.99</p>

        <a href="#" class="btn btn-primary">Details</a>
        <a href="#" class="btn btn-primary">Order</a>
      </div>
    </div>
    <div class="card">
      <img src="./assets/imgs/pizza-2.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Pizza Seafood</h5>
        <p class="card-text">Some quick example text to build on the card</p>
        <hr />
        <p>€15.60</p>

        <a href="#" class="btn btn-primary">Details</a>
        <a href="#" class="btn btn-primary">Order</a>
      </div>
    </div>
    <div class="card">
      <img src="./assets/imgs/pizza-2.jpg" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Pizza Italiano</h5>
        <p class="card-text">Some quick example text to build on the card</p>
        <hr />
        <p>€12.99</p>
        <a href="#" class="btn btn-primary myBtn"> Details </a>
        <a href="#" class="btn btn-primary myBtn2">Order</a>
      </div>
    </div>
  </div>
</div>
