<h2><b>Ristorante Il Gambero Rosso</b></h2>

<div class="body">
  <img src="./assets/imgs/cafe.jpg" alt="" />

  <div class="text-box">
    <h5><b>Taste the spirit of Italy in Padova Province</b></h5>

    <p>
      Our Story began 18 years ago. We had our first opening in Padova Province,
      in the North of Italy.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex laudantium
      animi eum blanditiis nostrum deleniti molestiae, quas eveniet natus
      reprehenderit asperiores, quos consequuntur esse dolorum necessitatibus
      facere numquam consequatur. Obcaecati!
    </p>
  </div>
</div>

<div class="whyUs">
  <div class="chooseUs">
    <h3 id="title">Why choose us</h3>
    <p id="line">A special taste of Italy, you can't find it any where else.</p>
  </div>
  <div class="reasonsUs">
    <div class="reasons">
      <h6>Original Taste</h6>
      <p id="us">all our chefs are Italien.eum blanditiis nostrum deleniti</p>
      <h6>Best prices</h6>
      <p id="us">best quality, best taste , best price</p>
      <h6>Easy to find</h6>
      <p id="us">eum blanditiis nostrum deleniti</p>
    </div>
  </div>
</div>
