<div class="container">
  <h3>About Us</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus at
    voluptates voluptate eos cumque beatae culpa iure, similique, commodi quod
    libero dolore nemo iste optio laudantium laborum omnis quidem reprehenderit.
  </p>
</div>

<h2><b>Check Our Specials</b></h2>

<div class="Us">
  <img src="/assets/imgs/pasta.jpg" alt="dish" />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum eius
    repellendus cum accusamus, tenetur velit iure! Dolor numquam reprehenderit
    ut eligendi, libero soluta laborum non iste voluptate, atque neque sint!
  </p>
</div>
