<h3>Dishs</h3>

<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 row-cols-xs-1 g-2">
  <div class="card" *ngFor="let product of products; index as i">
    <img src="{{ product.img }}" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.price }}</p>
      <hr />
      <p class="text">{{ product.description }}</p>

      <button routerLink="/product/{{ i }}" class="btn btn-success">
        Details
      </button>
    </div>
  </div>
</div>
